.cart-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  margin: auto;
}

.summary-card-header {
  text-align: center;
}

.price-split-container {
  border-bottom: solid var(--x-light-secondary-color);
}

.price-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0rem;
}
.price-def {
  text-overflow: ellipsis;
  margin-right: 0.25rem;
}

.price {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.sub-total {
  border-top: 1px solid var(--x-light-secondary-color);
}
.free-delivery-price {
  text-decoration: line-through;
  text-decoration-color: var(--accent1-color);
}

.delivery-message-container {
  color: var(--accent1-color);
  margin-bottom: 0.5rem;
}

.delivery-message-container span {
  font-weight: bold;
}

.free-delivery {
  color: var(--accent2-color);
}

.cart-total {
  font-weight: bold;
}
