.filters-content-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 0.75rem;
}

.filter-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--lighter-primary-color);
}

.filter-container h3 {
  text-align: center;
}

.filter {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.search-input {
  box-shadow: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--x-light-secondary-color);
  height: 2rem;
  max-width: 100%;
  outline: none;
  font-family: inherit;
  padding: 0 0.75rem 0rem 0.75rem;
  font-size: 1rem;
  color: var(--secondary-color);
}

.filter .category-name,
.accessory-name {
  text-transform: capitalize;
}

.filter-topbar-container {
  display: none;
}

@media (max-width: 850px) {
  .filters-tab-container {
    display: none;
  }
}
