.spinner {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--primary-color) transparent var(--primary-color)
    transparent;
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
